    <ul>
        <li><strong>{{ contacto.nombre}}</strong></li>
        <li><strong>Teléfono: </strong>{{ contacto.telefono}}</li>
        {% if contacto.provincia %}
        <li><strong>Provincia: </strong>{{ contacto.provincia.nombre}}</li>
        {% endif %}
        <li><strong>Correo: </strong>{{ contacto.email}}</li>
    </ul>