{% extends 'base.html.twig' %}
{% block title %}Contactos{% endblock %}
{% block body %}
    <h1>Ficha del contacto</h1>
    {% if contacto %}
    <ul>
        <li><strong>{{ contacto.nombre}}</strong></li>
        <li><strong>Teléfono: </strong>{{ contacto.telefono}}</li>
        <li><strong>Correo: </strong>{{ contacto.email}}</li>
    </ul>
    {% else %}
        <p>Contacto no encontrado</p>
    {% endif %}
{% endblock %}
